   #root {
       margin: 0;
       font-family: 'Roboto';
       font-size: 1rem;
       --swiper-theme-color: #F0572D;
      

   }


   section {
       display: flex;
       flex-direction: column;
       min-height: 80vh;
       gap: 20px;

   } 

   
